
<!DOCTYPE html>
<html lang="en" ng-app="fileManager" >
<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
		<meta charset="UTF-8">
		<meta https-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1 , maximum-scale=1 , user-scalable=no">

		  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
  		<!-- Angular Material style sheet -->
  		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- My Stylesheets -->
      <link rel="stylesheet" type="text/css" href="css/main.css">
</head>


<body ng-cloak ng-controller="mainCtrl" layout="column">
  
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
      <button class="md-button md-ink-ripple hide-gt-sm layout-align-center-center layout-row" type="button" ng-click="toggleSidenav()" aria-label="Side Panel" layout="row" layout-align="center center">
      <md-icon class="material-icons">menu</md-icon>
      </button>
        <h2 flex md-truncate><img src="images/logo.png" style="    width: 123px;
    margin-left: 45px;"></h2>
        <span flex></span>
      <!--<button class="md-button md-ink-ripple" ng-click="logout()" ng-if="!!firebaseUser">
      <md-icon class="material-icons">input</md-icon>-->
      </button>
      </div>
    
    </md-toolbar>
    <div layout="row" flex>
    <div ng-include="'views/sidenav.html'" layout="column"></div>
    <md-content flex layout-padding>
      <ng-view></ng-view>
    </md-content>


  <!-- Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>
  <script src="bower_components/ng-file-upload-shim.min.js"></script>
  <script src="bower_components/ng-file-upload.min.js"></script>
  <script src="bower_components/angular-base64/angular-base64.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 
  <script src="bower_components/ng-fx.min.js"></script>

  <!-- AngularFire -->
  <!--<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
  <script src="assets/js/firebaseConfig.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>-->
 
  <!-- application bootstrap  -->
  <script src="js/app.js"></script>
  <script src="js/controllers/mainCtrl.js"></script>
  <script src="js/controllers/uploadCtrl.js"></script>
  <script src="js/controllers/allFilesCtrl.js"></script>
  <script src="js/controllers/loginCtrl.js"></script>
  <script src="js/services/dataService.js"></script>
  <script src="js/services/dialogService.js"></script>
   <script src="js/services/rootRef.js"></script>
  <script src="js/services/auth.js"></script>

</body>
</html>
